# Django
# --------------------------
Django


# Posgres
# --------------------------
psycopg2

# REST
# --------------------------
djangorestframework


# Authent
# --------------------------
python-social-auth